h1= title
include includes/menu
content
  ul
    - for movie in movies
      li
        .item
          .title
            = movie.name
          .image 
            a(href="#")
              img(src="http://media:8080/files/#{movie.machineFileName}_thumb.jpg")
     