!!!
html
  head
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/json2.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.8.18.custom.css')
  body!= body