body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#progress-bar {
  height: 20px;
  background-color: blue;
}
#progress-container {
  width: 400px;
  height: 24px;
  padding: 2px;
  border: 1px solid grey;
}