body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #666666;
  text-decoration: none;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E5E5EE;
  border: 1px solid #999999;
  padding: 2px 10px;
}
.button:hover {
  background-color: #999;
  color: #ffffff;
}

#progress-bar {
  height: 20px;
  background-color: blue;
}
#progress-container {
  width: 400px;
  height: 24px;
  padding: 2px;
  border: 1px solid grey;
}

.item {
	display: inline-block;
	border: 1px solid grey;
	border-radius: 4px;
	margin: 5px;
	background-color: grey;
	height: 134px;
	overflow: hidden;
}
/*
 * Create 3D popout effect on hover.
 */
.popout:hover,
.item:hover {
  box-shadow: 4px 4px 2px grey;
  position: relative;
  top: -2px;
  left: -2px;
}

.title {
	background-color: black;
	color: yellow;
}
ul {
	position: relative;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}
#menu li {
	display: inline-block;
	padding: 2px 10px;
}

.delete-movie {
}

.delete-movie a {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  color: #FF0000;
  float: right;
}

.tag-wrapper {
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #fed22f;
}

a.tag {
  display: inline-block;
  padding: 3px 10px 3px 10px;
}

a.edit-tag {
  display: inline-block;
  padding: 3px 0 3px 0;
  heigth: 100%;
  width: 16px;
  text-indent: -9999px;
}
a.edit-tag:hover {
  background-image: url('http://media:8080/images/edit.png');
  background-repeat: no-repeat;
}

.error-details {
  display: inline-block;
  border: 1px solid #999999;
  background-color: #dedede;
  padding: 2px 10px;
  margin: 5px 0;
}
.tags {
  margin-top: 20px;
}